#! /usr/bin/make -f

.PHONY: binary build clean

sbt=./sbt
sbt_options=-Dsbt.global.base=project/.sbtboot -Dsbt.boot.directory=project/.boot -Dsbt.ivy.home=${HOME}/.ivy2-kafka ++2.10.2

install:
	@set -e;\
		${sbt} ${sbt_options} update;\
		${sbt} ${sbt_options} package;\
		${sbt} ${sbt_options} package-doc;\
		${sbt} ${sbt_options} package-src;\
		${sbt} ${sbt_options} assembly-package-dependency;
	dh_install --list-missing 
#	dh_installinit -A --no-start --name=statbox-kafka-zookeeper -r -u defaults
	dh_installinit -A --no-start --name=statbox-kafka -r -u defaults
	dh_installdeb
	dh_makeshlibs -pstatbox-kafka
	dh_shlibdeps 
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: install

build: clean
	dh_testdir

clean:
	dh_clean
	rm -rf __build
