#! /usr/bin/make -f

.PHONY: binary build clean

install:
	dh_install --list-missing 
	dh_installinit -A --no-start --no-restart-on-upgrade
	dh_installdeb
	dh_makeshlibs -pstatbox-kafka
	dh_shlibdeps 
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: install

build: clean
	dh_testdir
	@set -e;\
		gradle
		./gradlew -PscalaVersion=2.10.4 jar

clean:
	dh_clean
	rm -rf __build
